<div id="footer" class="py-4 bg-dark text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <small>Copyright &copy; Twitter Clone</small>
            </div>
            <div class="socialmedia col-4">
                <a  href="#" class="fab fa-facebook"></a>
                <a  href="#" class="fab fa-twitter"></a>
                <a  href="#" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>
</div>